<!-- index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jstree@3.3.12/dist/themes/default/style.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />    
</head>
<body>
	
<div class="container">
  <div class="row">
    <!-- Left: Tree -->
    <div class="col-md-5">
      <h5>Symbol Tree</h5>
      <div id="jstree"></div>
      <br/>
      <br/>
      <br/>
      <div><a th:href="@{/demo}" target="_blank">Other Demo</a></div>
      <br/>
      <div><a th:href="@{/h2-console}" target="_blank">Access H2 Database</a></div>
    </div>

    <!-- Right: Form -->
    <div class="col-md-5">
      <h5>Node Form</h5>
      
      <form id="1fieldForm" style="display:none;">
        <div class="form-group">
          <label for="1fieldForm_nodeName">Node Name:</label>
          <input type="text" class="form-control" id="1fieldForm_nodeName">
        </div>
        <div class="form-group">
          <label for="1fieldForm_field1Id">Field 1:</label>
          <input type="text" class="form-control" id="1fieldForm_field1Id">
        </div>
        <button type="button" class="btn btn-primary" onclick="saveNodeToDOM1()">Save Node to DOM</button>
      </form>
      
      <form id="2fieldsForm" style="display:none;">
        <div class="form-group">
          <label for="2fieldsForm_nodeName">Node Name:</label>
          <input type="text" class="form-control" id="2fieldsForm_nodeName">
        </div>
        <div class="form-group">
          <label for="2fieldsForm_field1Id">Field 1:</label>
          <input type="text" class="form-control" id="2fieldsForm_field1Id">
        </div>
        <div class="form-group">
          <label for="2fieldsForm_field2Id">Field 2:</label>
          <input type="text" class="form-control" id="2fieldsForm_field2Id">
        </div>
        <button type="button" class="btn btn-primary" onclick="saveNodeToDOM2()">Save Node to DOM</button>
      </form>
      
      <form id="3fieldsForm" style="display:none;">
        <div class="form-group">
          <label for="3fieldsForm_nodeName">Node Name:</label>
          <input type="text" class="form-control" id="3fieldsForm_nodeName">
        </div>
        <div class="form-group">
          <label for="3fieldsForm_field1Id">Field 1:</label>
          <input type="text" class="form-control" id="3fieldsForm_field1Id">
        </div>
        <div class="form-group">
          <label for="3fieldsForm_field2Id">Field 2:</label>
          <input type="text" class="form-control" id="3fieldsForm_field2Id">
        </div>
        <div class="form-group">
          <label for="3fieldsForm_field3Id">Field 3:</label>
          <input type="text" class="form-control" id="3fieldsForm_field3Id">
        </div>
        <button type="button" class="btn btn-primary" onclick="saveNodeToDOM3()">Save Form to DOM</button>
      </form>
      
      <form id="4fieldsForm" style="display:none;">
        <div class="form-group">
          <label for="4fieldsForm_nodeName">Node Name:</label>
          <input type="text" class="form-control" id="4fieldsForm_nodeName">
        </div>
        <div class="form-group">
          <label for="4fieldsForm_field1Id">Field 1:</label>
          <input type="text" class="form-control" id="4fieldsForm_field1Id">
        </div>
        <div class="form-group">
          <label for="4fieldsForm_field2Id">Field 2:</label>
          <input type="text" class="form-control" id="4fieldsForm_field2Id">
        </div>
        <div class="form-group">
          <label for="4fieldsForm_field3Id">Field 3:</label>
          <input type="text" class="form-control" id="4fieldsForm_field3Id">
        </div>
         <div class="form-group">
          <label for="4fieldsForm_field4Id">Field 4:</label>
          <input type="text" class="form-control" id="4fieldsForm_field4Id">
        </div>
        <button type="button" class="btn btn-primary" onclick="saveNodeToDOM4()">Save Form to DOM</button>
      </form>
      
	  <br/>
	  <br/>
	 <div class="btn-group" role="group">
	  <button type="button" class="btn btn-primary mr-2" onclick="addNode()">Add Child Node</button>
	  <button type="button" class="btn btn-primary mr-2" onclick="deleteNode()">Delete Node</button>
	  <button type="button" class="btn btn-primary mr-2" onclick="saveTree()">Save Full Tree to File</button>
	  <button type="button" class="btn btn-primary mr-2" onclick="saveMiniTree()">Save Mini Tree to File</button>
	  <button type="button" class="btn btn-primary mr-2" onclick="resetStatus()">Reset Status</button>
    </div>
  </div>
</div>
	
	
  <!-- jQuery first -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Popper.js (required by Bootstrap 4 tooltips) -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <!-- Bootstrap 4 JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- jsTree JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.12/jstree.min.js"></script>

<script>
let selectedNode = null;

$(function () {
  
  /*
  $('#jstree').jstree({
    'core': {
      'check_callback': true,
      'data': [
        { "id": "1", "parent": "#", "text": "Root", "data": { "field1": "field1 value",  "field2": "field2 value"} }
      ]
    }
  });
  */
  
  //Load json tree file when page is loaded.
  initialUrl = "[[@{'/api/tree/jstree-data'}]]";
  
  $.ajax({
    url: initialUrl,
    method: 'GET',
    success: function (data) {
		
	console.log("Tree data:", data);
		
      $('#jstree').jstree({
        'core': {
		  'check_callback': true,
          'data': data
        }
      });
    },
    error: function () {
      alert('Failed to load tree data');
    }
  });
  
  // Expand tree after ready
  $('#jstree').on('ready.jstree', function () {
    $(this).jstree('open_all');
    
    //colorNodes();
  });

  $('#jstree').on('changed.jstree refresh.jstree redraw.jstree ready.jstree', colorNodes);
  
  // Enable Bootstrap tooltips globally
  $('body').tooltip({
    selector: '[data-toggle="node-tooltip"]',
    placement: 'right',
    html: true,
    trigger: 'hover'
  });
  
  //When a node is selected
  $('#jstree').on("select_node.jstree", function (e, nodeData) {
	  
	//nodeData: {node: {…}, selected: Array(1), event: {…}, instance: {…}}
	console.log("Full data object:", nodeData);
	  
    selectedNode = nodeData.node;
    
    nodeLevel = nodeData.node.data?.level || '';
    
    //alert("nodeLevel: " + nodeLevel);
    
    if(nodeLevel === 'LV1'){
		$('#1fieldForm_nodeName').val(nodeData.node.text);
    	$('#1fieldForm_field1Id').val(nodeData.node.data?.field1 || '');
    	
    	$('#1fieldForm').show();
    	$('#2fieldsForm').hide();
    	$('#3fieldsForm').hide();
    	$('#4fieldsForm').hide();
	}else if(nodeLevel === 'LV2'){
		$('#2fieldsForm_nodeName').val(nodeData.node.text);
    	$('#2fieldsForm_field1Id').val(nodeData.node.data?.field1 || '');
    	$('#2fieldsForm_field2Id').val(nodeData.node.data?.field2 || '');
    	
    	$('#2fieldsForm').show();
    	$('#1fieldForm').hide();
    	$('#3fieldsForm').hide();
    	$('#4fieldsForm').hide();
	}else if(nodeLevel === 'LV3'){
		$('#3fieldsForm_nodeName').val(nodeData.node.text);
    	$('#3fieldsForm_field1Id').val(nodeData.node.data?.field1 || '');
    	$('#3fieldsForm_field2Id').val(nodeData.node.data?.field2 || '');
    	$('#3fieldsForm_field3Id').val(nodeData.node.data?.field3 || '');
    	
    	$('#3fieldsForm').show();
    	$('#1fieldForm').hide();
    	$('#2fieldsForm').hide();
    	$('#4fieldsForm').hide();
	}else if(nodeLevel === 'LV4'){
		$('#4fieldsForm_nodeName').val(nodeData.node.text);
    	$('#4fieldsForm_field1Id').val(nodeData.node.data?.field1 || '');
    	$('#4fieldsForm_field2Id').val(nodeData.node.data?.field2 || '');
    	$('#4fieldsForm_field3Id').val(nodeData.node.data?.field3 || '');
    	$('#4fieldsForm_field4Id').val(nodeData.node.data?.field4 || '');
    	
    	$('#4fieldsForm').show();
    	$('#1fieldForm').hide();
    	$('#2fieldsForm').hide();
    	$('#3fieldsForm').hide();
	}
   
  });
  
  //Tootip
   $('#jstree').on('mouseover', '.jstree-anchor', function () {
      const nodeId = $(this).closest('li').attr('id');
      const tree = $('#jstree').jstree(true);
      const node = tree.get_node(nodeId);

      let tooltipHtml = '';

	  if (node.data && typeof node.data === 'object') {
	    for (const key in node.data) {
	      if (node.data.hasOwnProperty(key)) {
	        tooltipHtml += `<strong>${key}:</strong> ${node.data[key]}<br>`;
	      }
	    }
	  } else {
	    tooltipHtml = 'No data';
	  }

      $(this)
        .attr('data-toggle', 'node-tooltip')
        .attr('data-html', 'true') // Enable HTML
        .attr('title', tooltipHtml)
        .tooltip('dispose')  // Reset tooltip
        .tooltip('show');
    });
  
});

function saveNodeToDOM1() {
  const tree = $('#jstree').jstree(true);
  const newText = $('#1fieldForm_nodeName').val();
  const newField1 = $('#1fieldForm_field1Id').val();
  
  if (selectedNode) {
    tree.rename_node(selectedNode, newText);
    selectedNode.data = selectedNode.data || {};
    selectedNode.data.field1 = newField1;
   
    selectedNode.data.name = newText;
    selectedNode.data.status = 'Modified';
    tree.redraw(true);
  }

  $('#1fieldForm').hide();
}

function saveNodeToDOM2() {
  const tree = $('#jstree').jstree(true);
  const newText = $('#2fieldsForm_nodeName').val();
  const newField1 = $('#2fieldsForm_field1Id').val();
  const newField2 = $('#2fieldsForm_field2Id').val();
  
  if (selectedNode) {
    tree.rename_node(selectedNode, newText);
    selectedNode.data = selectedNode.data || {};
    selectedNode.data.field1 = newField1;
    selectedNode.data.field2 = newField2;
   
    selectedNode.data.name = newText;
    selectedNode.data.status = 'Modified';
    tree.redraw(true);
  }

  $('#2fieldsForm').hide();
}

function saveNodeToDOM3() {
  const tree = $('#jstree').jstree(true);
  const newText = $('#3fieldsForm_nodeName').val();
  const newField1 = $('#3fieldsForm_field1Id').val();
  const newField2 = $('#3fieldsForm_field2Id').val();
  const newField3 = $('#3fieldsForm_field3Id').val();
  
  if (selectedNode) {
    tree.rename_node(selectedNode, newText);
    selectedNode.data = selectedNode.data || {};
    selectedNode.data.field1 = newField1;
    selectedNode.data.field2 = newField2;
    selectedNode.data.field3 = newField3;
   
    selectedNode.data.name = newText;
    selectedNode.data.status = 'Modified';
    tree.redraw(true);
  }

  $('#3fieldsForm').hide();
}

function saveNodeToDOM4() {
  const tree = $('#jstree').jstree(true);
  const newText = $('#4fieldsForm_nodeName').val();
  const newField1 = $('#4fieldsForm_field1Id').val();
  const newField2 = $('#4fieldsForm_field2Id').val();
  const newField3 = $('#4fieldsForm_field3Id').val();
  const newField4 = $('#4fieldsForm_field4Id').val();
  
  if (selectedNode) {
    tree.rename_node(selectedNode, newText);
    selectedNode.data = selectedNode.data || {};
    selectedNode.data.field1 = newField1;
    selectedNode.data.field2 = newField2;
    selectedNode.data.field3 = newField3;
    selectedNode.data.field4 = newField4;
   
    selectedNode.data.name = newText;
    selectedNode.data.status = 'Modified';
    tree.redraw(true);
  }

  $('#4fieldsForm').hide();
}


//Increment LV0 to LV1 or LVn to LVn+1
function incrementLevel(levelStr) {
  const prefix = levelStr.match(/[^\d]+/)[0]; // Extract non-digit part (e.g., 'LV')
  const number = parseInt(levelStr.match(/\d+/)[0]); // Extract number part (e.g., 0)
  return `${prefix}${number + 1}`;
}

function addNode() {
  const tree = $('#jstree').jstree(true);
  if (!selectedNode) {
    alert("Select a node to add a child to.");
    return;
  }

  const newNodeId = Date.now().toString(); // unique ID
  
  parentNodeType = selectedNode.data?.level || '';
  
  nodeObject = {};
  
  //Add different properties for child node based on parent node type 
  if(parentNodeType === 'LV1'){
	  nodeObject = {
		   	id: newNodeId,
    		text: "New Node",
    		data: { name: "", databaseId: "", field1: "", field2: "", level : "LV2" }
	  }
  }else if(parentNodeType === 'LV2'){
	  nodeObject = {
		   	id: newNodeId,
    		text: "New Node",
    		data: { name: "", databaseId: "", field1: "", field2: "", field3: "", level : "LV3" }
	  }
  }else if(parentNodeType === 'LV3'){
	  nodeObject = {
		   	id: newNodeId,
    		text: "New Node",
    		data: { name: "", databaseId: "", field1: "", field2: "", field3: "", field4: "", level : "LV4" }
	  }
  }else{
	  alert("Cannot add a child node due to level limit.");
      return;
  }
  
  const newNode = tree.create_node(selectedNode, nodeObject);

  if (newNode) {
    //tree.edit(newNode); // allow inline renaming
  }
  
  // Immediately select the newly created node
	if (newNodeId) {
	  // Use setTimeout to ensure the node is created/rendered before selection
	  setTimeout(() => {
	    tree.deselect_all();
	    tree.select_node(newNodeId); // This will fire select_node.jstree
	  }, 0);
	}
}

function deleteNode() {
	
  	const tree = $('#jstree').jstree(true);
	if (selectedNode) {
	    tree.delete_node(selectedNode);
	    selectedNode = null;
	} else {
	    alert('Please select a node to delete.');
	}

}

function saveTree() {
  const fullTree = $('#jstree').jstree(true).get_json('#', { flat: false });
  alert(JSON.stringify(fullTree));
  
  url = "[[@{'/api/tree/saveTree/full-symboltree-data.json'}]]";

  $.ajax({
    url: url,
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify(fullTree),
    success: () => alert("Tree saved successfully!"),
    error: () => alert("Error saving tree.")
  });
}

function saveMiniTree() {
  const fullTree = $('#jstree').jstree(true).get_json('#', { flat: false });
  
  const minimalTree = simplifyTree(fullTree);
  alert(JSON.stringify(minimalTree));
  
  console.log(JSON.stringify(minimalTree, null, 2));

  url = "[[@{'/api/tree/saveTree/mini-symboltree-data.json'}]]";
  
  $.ajax({
    url: url,
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify(minimalTree),
    success: () => alert("Tree saved successfully!"),
    error: () => alert("Error saving tree.")
  });
}

function simplifyTree(fullTreeNodes) {
  return fullTreeNodes.map(node => {
    const simplified = {  //keep id and text fields
      id: node.id,
      text: node.text
    };

    // Include 'data' if it exists
    if (node.data) {
      simplified.data = node.data;
    }

    // Recursively simplify children if they exist
    if (node.children && node.children.length > 0) {
      simplified.children = simplifyTree(node.children);
    }

    return simplified;
  });
}

function colorNodes() {
	//alert("colorNodes");
    $('#jstree').jstree(true).get_json('#', { flat: true }).forEach(function (node) {
        const $anchor = $('#' + node.id + '_anchor');
        if (node.data && node.data.status === 'Modified') {
            $anchor.addClass('red-node');
        } else {
            $anchor.removeClass('red-node');
        }
    });
}

function resetStatus() {
    const tree = $('#jstree').jstree(true);
    tree.get_json('#', { flat: true }).forEach(function (node) {
        if (node.data && node.data.status === 'Modified') {
            const liveNode = tree.get_node(node.id); // live reference so as to persist change to the DOM.
            $('#' + node.id + '_anchor').removeClass('red-node');
            delete liveNode.data.status;
        }
    });
}

</script>
</body>
</html>
